/* CSS Styles */

* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

.top-nav {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 60px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a, p {
    font-size: 18px;
    text-decoration: none;
    color: #f9faf8;
}

p.dark {
    /* color undefined in style guide */
    color: #1f2937;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* vertical padding might need adjusting */
    padding: 16px 60px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 24px;
}

button.bordered {
    border: 2px solid #f9faf8;
}

.image-block {
    background-color: gray;
    width: 600px;
    margin: 24px;
    padding: 60px 24px;
}